$primary: #ff4b00;
$secondary: #1995ff;
$white: #ffffff;
$accent: #da326a;
$status: #649a41;

$dark: #1d1d1d;

$positive: #0dd692;
$negative: #fd3c52;
$info: #6096ae;
$warning: #f2c037;
$blue: #3b5998;
$red: #f1584d;
$check: #bebebe;
$grey: #bcbcbc;
$black: #000000;

$light-blue: #eff6ff;
