$primary: #03d7d7;
$secondary: #901b9d;
$white: #ffffff;
$accent: #2b6ed2;

$dark: #1d1d1d;

$positive: #0dd692;
$negative: #fd3c52;
$info: #6096ae;
$warning: #f2c037;
$blue: #3b5998;
$red: #f1584d;
$check: #bebebe;
$grey: #bcbcbc;
$black: #000000;

$light-blue: #eff6ff;
